# Ignorar configuración local de VS Code
.vscode/

## Ignorar todo en ejemplos
ejemplos/**/*
# Pero no los directorios (para que Git pueda ver dentro)
!ejemplos/**/
# Ni los archivos fuente, encabezados o docs
!ejemplos/**/*.cpp
!ejemplos/**/*.h
!ejemplos/**/*.hpp
!ejemplos/**/*.txt
!ejemplos/**/*.md
!ejemplos/**/*.jpg


ejercicios/**/*
!ejercicios/**/
!ejercicios/**/*.cpp
!ejercicios/**/*.h
!ejercicios/**/*.hpp
!ejercicios/**/*.txt
!ejercicios/**/*.md
!ejercicios/**/*.jpg
